<header>
  <img src="assets/img/wagner.jpeg"
       alt="Wagner Andrade - Foto do Perfil"
       width="130px"
       height="130px"
       loading="eager"
       />
<h1>Wagner Andrade</h1>
</header>
<aside>
  <div class="container">
    <p>Full-Stack Javascript | Angular | NodeJs | NestJs</p>
    <p>Fortaleza, Ceara, Brasil</p>
    <p>progamar com responsividade!</p>


<nav>
  <ul>
    <li>
      <a href="assets/pdf/cv.pdf" target="_blank" class="btn btn-primary">
        Download CV
      </a>
    </li>
    <li>
      <a href="https://www.linkedin.com/in/wagner-andrade-112a36264/" target="_blank"
      class="btn btn-secondary">
        LinkedIn
      </a>
    </li>
  </ul>
</nav>

<section>
  <figure>
    <img src="assets/icons/dialog/whatsapp.svg"
     alt="Icone para o contato do watsapp"
     width="22px"
     height="24px"/>
     <figcaption>
      <a href="https://api.whatsapp.com/send?phone=5585999593381&text=Ol%C3%A1%20Wagner,%20preciso%20de%20um%20job!" target="_blank">
        <strong>Envie uma menssagem para:</strong>
        <p>whatsApp: (85) 9 9959-33871</p>
      </a>
     </figcaption>
  </figure>
  <figure>
    <img src="assets/icons/dialog/mail.svg"
     alt="Icone para o contato do e-mail"
     width="22px"
     height="24px"/>
     <figcaption>
      <a href="mailto:wagnerandrade1001@gmail.com" target="_blank">
        <strong>Envie um e-mail para:</strong>
        <p>wagnerandrade1001&#64;gmail.com</p>
      </a>
     </figcaption>
  </figure>
</section>
  </div>
</aside>
